@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* Animation for theme changing */
.bg-transition {
    @apply h-screen w-screen relative;
}

.bg-transition::before {
    content: '';
    @apply absolute inset-0 transition-opacity duration-500 ease-in-out;
    background-image: url("/background/backgr_dark.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;

}

.bg-transition.dark::before {
    opacity: 1;
}

/* Styles for range input */
#range {
    -webkit-appearance: none;
    -moz-appearance: none;

}

#range::-webkit-slider-runnable-track {
    border-radius: 2rem;
    height: .5rem;
    background: linear-gradient(to right,
        #4a4a4a var(--value), #ffffff var(--value)
    );
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 2rem;
    height: 2rem;
    background-color: rgb(66, 63, 63);
    border-radius: 50%;
    cursor: pointer;

    margin-top: calc((.5rem - 2rem) / 2);
}

#range::-moz-range-track {
    -moz-appearance: none;

    background-color: white;
    border-radius: 2rem;
    height: .5rem;
}

#range::-moz-range-thumb {
    -webkit-appearance: none;

    width: 2rem;
    height: 2rem;
    background-color: rgb(66, 63, 63);
    border-radius: 50%;
    cursor: pointer;

    margin-top: calc((.5rem - 2rem) / 2);
}

/* Styles for checkbox input */
input[type="checkbox"]{
    -webkit-appearance: none;

    border: 2px solid rgba(255, 153, 0, 1);
    opacity: .7;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
    padding: 5px;
    @apply dark:border-gray-900 transition-all duration-500 cursor-pointer ease-in
}

input[type="checkbox"]:checked{
    background-color: #ff8800;
    border: none;

    @apply dark:bg-gray-900
}

/* Style for toggle button */
.body_toggle_button{
    position: relative;
    cursor: pointer;
    width: 3.5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color 3s ease;
}
.body_toggle_button::after{
    content: "";
    position: absolute;

    width: 1.5rem;
    height: 1.5rem;

    top: 50%;
    transform: translateY(-50%);

    left: .25rem;
    border-radius: 50%;
    background-color: white;
    transition: all .3s ease;
}
.body_toggle_button.activate::after{
    left: 2.25rem;
    @apply bg-gray-500
}

/* TODO: Hacer que el range cambie de color con el theme, y ponerse fuerte con la logica el programa */