@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* Animation for theme changing */
.bg-transition {
    @apply h-screen w-screen relative;
}

.bg-transition::before{
    content: '';
    @apply absolute inset-0 transition-opacity duration-500 ease-in-out;
    background-image: url("/background/backgr_dark.webp") ;
    background-size: cover;
    background-position: center;
    opacity: 0;
    
}

.bg-transition.dark::before{
    opacity: 1;
}